name: JavaScript CI with NPM and Node

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Node 16
        uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('package-lock.json') }}
          restore-keys: ${{ runner.os }}-node_modules-

      - name: Install dependencies
        run: npm ci

      - name: Build and test with NPM
        run: |
          npm run build
          npm run test:cypress
